.navbar
{
    flex-direction: column;
    
}
#logo
{
    padding-right:15px;
}
.navbar li
{
    padding:2px 2px;
}
.nav2 ul
{
    padding:5px 5px;
}
.nav2 li
{
    padding:5px 5px;
}
#flu
{
    width:300px;
}
#csi
{
    width:400px;
}



.e1
{
   display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.cources
{
    display:flex;
    flex-direction: column;
}
.app
{
    display:flex;
    flex-direction: column;
}
.flutter
{
    text-align:center;
}
.container4
{
    display:flex;
    flex-direction:column;
}
.img
{
    flex-direction: column;
}